---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "Sobre Mi";

---

<MainLayout pageTitle={pageTitle}>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati autem sapiente labore accusantium veniam nemo iusto corporis cupiditate, est tempora ipsam! Quis sequi, est delectus perspiciatis, in natus fugiat iste quam maxime nam eius harum exercitationem, quisquam eveniet nisi necessitatibus laboriosam dolor veritatis quas voluptate autem odio a eos ex! Harum iusto a nam animi consequuntur blanditiis distinctio quis excepturi adipisci dignissimos inventore perferendis, voluptatum numquam earum sit perspiciatis nisi sed omnis libero expedita reprehenderit dolorum magni nostrum maiores. Dolorem!</p>
</MainLayout>