---
  const { post } = Astro.props;
  console.log(post)
---

<article class="transition-all duration-75 ease-in-out h-full shadow-lg bg-white rounded-xl overflow-hidden hover:opacity-80 hover:scale-105">
  <a href={post.url}>
    <img class="squiggle" src={post.frontmatter.image.url} alt={post.frontmatter.title} width="360" height="192">
    <div class="py-6 px-8">
      <h2 class="font-bold text-2xl leading-tight text-gray-900">
        {post.frontmatter.title}
      </h2>
      <p class="text-xs text-gray-600 mt-4 flex items-center">
        {post.frontmatter.pubDate.slice(0,10)}
      </p>
    </div>
  </a>
</article>

<style>
  img {
    width: 100%;
    aspect-ratio:15/7 auto;
    object-fit: cover;
  }
</style>