---
import FooterMediaButtons from "./FooterMediaButtons.astro";
const year = new Date().getFullYear();
---
<footer class="m-auto max-w-5xl text-gray-600 body-font p-2 border-t-gray-500 border-t mt-8 lg:mt-16">
  <div class=" px-5 pt-2 mx-auto flex justify-between items-center sm:flex-row flex-col">
    <p class="text-base lg:text-lg text-gray-500  sm:py-2 sm:mt-0 mt-4">
      © {year} Martin Ferreira 🚀
    </p>
    <FooterMediaButtons />
  </div>
</footer>